<nav class="navbar">
    <div class="container-fluid">
        <h1>Bienvenido usuario, <%= usuario.Nombre%></h1>
        <!--<h2>Solicitudes</h2>-->
        <a href="/" id="CeSe">Cerrar Sesion</a>
    </div>
</nav>