<!DOCTYPE html>
<html>
    <head>
        <title>Crear Consulta</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/css/index.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
        
    </head>
    <body class="container">
        
        <% if(message) {%>
            <div id="msgErrorEdicionU" class="alert alert-<%=message.type%>">
                <strong><%=message.intro%></strong><%=message.message%>
            </div>
        <% } %>
        
        <form method="post" action="/CrearConsulta">
            <h1>Crear Consulta</h1>
                <div>
                    <label">Asunto</label>
                    <input type="text" name="consulta_asunto" class="form-control"/>

                    <p><label class="form-label">Descripcion:</label></p>
                    <textarea name="consulta_descripcion" rows="5" cols="60"></textarea>
                </div>
                <button type="submit" class="btn btn-success" id="btnLogInBrilla">Guardar</button>
                <a href="/Consultas">Regresar</a>
                
        </div>
        </form>
    </body>
</html>